body{
  background: #34495e;
}

main {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #191919;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  border-radius: 15px;
  color: white;
}

li {
	font-size: 17px;
}

.button {
  border:20px;
  background: none;
  margin: 2px auto;
  text-decoration: none;
  text-align: center;
  border: 1px solid #2ecc71;
  padding: 5px 15px;
  outline: none;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.button:hover{
  background: #2ecc71;
}
