 body{

  	background: #34495e;
}
.box{
	margin-top: 50px;
	width: 300px;
	padding: 40px;
	padding-bottom: 1px;
	position: absolute;
	border-radius: 15px;
	top: 315px;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #191919;
}

.box h2{
  color: white;
  text-transform: uppercase;
  font-family: 'Source Code Pro', monospace;
  font-size: 40px;
  font-weight: 30;
  text-align: center;
}

.box input[type = "text"],.box input[type = "number"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  font-family: 'Source Code Pro', monospace;
  text-align-last:center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  text-align: center;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "number"]:focus{
  width: 280px;
  border-color: #2ecc71;
}

select {
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
  font-family: 'Source Code Pro', monospace;
  text-align-last:center;
	border: 2px solid #3498db;
  padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
  text-align: center;
	border-radius: 24px;
	transition: 0.25s;
}

select:focus{
  width: 280px;
  border-color: #2ecc71;
}

option {
  text-align: center; 
	color: black;
}

.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  margin-bottom: 20px;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}